#movieContainer {
    display: flex;
    flex-wrap: wrap; 
    gap:150px; 
    padding-top: 200px;
    margin-left: 170px;
}
.cardImg{
    margin-left: 50px;
}
.card {
    width: 400px;  
}
.card:hover{
    transform: scale(1.2);
}
.cardContainer{
     background-color: #8d99ae;
     -webkit-text-stroke: 0.4px #000000;
     color: #FFCDB2;
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 8px;
     border-radius: 10%;
     overflow:auto;
     text-overflow: ellipsis;
    }