body {
  background-color: #6d6875;
}

#aboutUs {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#aboutUs:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

#contact {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#contact:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

#home {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#home:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.container-fluid {
  background-color: #323035;
}

.navbar-nav {
  background-color: #323035;
}

#formulario-pelicula {
  width: 600px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkbox-container {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-custom:checked {
  background-color: #2196f3;
}

.checkbox-custom:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 2px;
  visibility: hidden;
}
.checkbox-custom:checked:after {
  visibility: visible;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.footer {
  margin-top: 60px;
  padding-top: 10%;
  font-size: 20px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  padding-top: 10%;
}
