/* colour palette: sunset; background #6D6875, titles  #B5838D, #E5989B, #FFB4A2, #FFCDB2  (los ultimos 3 sin asginar)*/
body {
  background-color: #6d6875;
}

h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #5b5761;
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  border-radius: 20%;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
}
h1:hover {
  transform: scale(1.6);
}

#aboutUs {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#aboutUs:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

#contact {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#contact:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

#home {
  text-decoration: none;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  background-color: #5b5761;
  border-radius: 20%;
}
#home:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.container-fluid {
  background-color: #323035;
}

.navbar-nav {
  background-color: #323035;
}

.footer {
  margin-top: 60px;
  padding-top: 10px;
  font-size: 20px;
  -webkit-text-stroke: 0.5px #ffcdb2;
  color: #e5989b;
  padding-top: 10%;
}
