/* colour palette: sunset; background #6D6875, titles  #B5838D, #E5989B, #FFB4A2, #FFCDB2  (los ultimos 3 sin asginar)*/
body{
    background-color: #6D6875;
}

h1{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #B5838D;
    font-size: 60px;
    width: fit-content;
    border-radius: 20%;
    -webkit-text-stroke: 0.5px #FFCDB2;
    color: #E5989B;
}

#aboutUs{
    text-decoration: none;
    font-size: 40px;
    -webkit-text-stroke: 0.5px #FFCDB2;
    color: #E5989B;
    background-color: #B5838D;
    border-radius: 20%;
}

#contact{
    text-decoration: none;
    font-size: 40px;
    -webkit-text-stroke: 0.5px #FFCDB2;
    color: #E5989B;
    background-color: #B5838D;
    border-radius: 20%;
}
#movies{
    text-decoration: none;
    font-size: 40px;
    -webkit-text-stroke: 0.5px #FFCDB2;
    color: #E5989B;
    background-color: #B5838D;
    border-radius: 20%;
}

#links{
    display: flex;
    justify-content:space-around;
}

.footer{
    margin-top: 60px;
    padding-top: 10px;
    font-size: 20px;
    -webkit-text-stroke: 0.5px #FFCDB2;
    color: #E5989B;
    background-color: #B5838D;
    width: fit-content;
}